body
{
    background-image: url("./assets/images/Pine\ tile.png");
    background-color: rgb(25, 138, 49);
    color: #fff;
    background-repeat: repeat;
    background-size: 12vw;
    text-align: center;
    font-size: 18px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#body-out{
    border: 6px red dotted;
    height: 96.5vh;
}

#body-in{
    border: 4px rgb(11, 179, 11) dashed;
    height: 96.5vh;
}

.top-header-image{
    width: 596px;
    height: 202px;
}

#top-left{
    margin-left: 100px;
    height: 100px;
    width: 300px;
}

#top-left-outer{
    border: 5px red dotted;
}

#top-left-inner{
    border: 3px rgb(11, 179, 11) dashed;
}

#xmas-tree{
    width: 333px;
    height: 333px;
}

#bot-right{
    margin-left: auto;
    margin-right: 100px;
    height: 100px;
    width: 300px;
}

#bot-right-outer{
    border: 5px red dotted;
}

#bot-right-inner{
    border: 3px rgb(11, 179, 11) dashed;
}